@model Web_Asm2.Models.Category

@{
    ViewData["Title"] = "Edit";
}

<main class='app-content'>
    <div class='app-title'>
        <div>
            <h1><i class='fa fa-th-list'></i> Add Product</h1>
            <p>Add Product to display analytical data effectively</p>
        </div>
        <ul class='app-breadcrumb breadcrumb side'>
            <li class='breadcrumb-item'><i class='fa fa-home fa-lg'></i></li>
            <li class='breadcrumb-item'>Products</li>
            <li class='breadcrumb-item active'><a href='#'>Add product</a></li>
        </ul>
    </div>
    <div class='row'>
        <div class='col-md-12'>
            <div class='tile'>
                <div class='tile-body'>
                    <form asp-action="Edit">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Id" />
                        <div class="form-group">
                            <label asp-for="CategoryName" class="control-label"></label>
                            <input asp-for="CategoryName" class="form-control" />
                            <span asp-validation-for="CategoryName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="CategoryDescription" class="control-label"></label>
                            <input asp-for="CategoryDescription" class="form-control" />
                            <span asp-validation-for="CategoryDescription" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Save" class="btn btn-primary" />
                        </div>
                    </form>
                    <div>
                        <a asp-action="Index">Back to List</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
